<ion-header>
  <ion-navbar>
    <ion-title>Promise & Observable</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar #search [showCancelButton]="shouldShowCancel" placeholder="Enter to search for an itune song">
  </ion-searchbar>
  <button ion-button class="btn btn-primary" (click)="doSearch(search.value)">
    Search
  </button>
  <div class="text-center">
    <p class="lead" *ngIf="loading">Loading..</p>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let track of itunes.results">
      <img src="{{track.link}}">
      <a target="_blank" href="{{track.thumbnail}}">{{ track.track }}
      </a>
    </li>
  </ul>
</ion-content>